<a href="https://colab.research.google.com/github/adrianadamata/Data_Science_DataFrame_from_mat/blob/master/DataFrame_from_extension_mat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Construção de DataFrame a partir de arquivo em extensão `.mat`

O arquivo `.mat` carregado neste notebook faz parte de experimento realizado em Tomógrafo por Impedância Elétrica, com os dados de tensão de 16 eletrodos.

In [3]:
from scipy.io import loadmat
import pandas as pd

In [4]:
# para carregar arquivo .mat é necessário fazer o upload do arquivo dentro do notebook, no terceiro ícone da barra lateral esquerda "Files"
mat = loadmat('real-Teste33.mat')
# mat tem formato de dict
mat

{'ZZmeas_2': array([[0.20336134, 0.23891403, 0.2398621 , ..., 0.23954607, 0.23938806,
         0.24033613],
        [0.07774187, 0.08232421, 0.08279825, ..., 0.08311427, 0.08248222,
         0.08264024],
        [0.05119586, 0.05277598, 0.05293399, ..., 0.05325002, 0.05277598,
         0.05277598],
        ...,
        [0.04266322, 0.04218918, 0.04203117, ..., 0.0423472 , 0.04218918,
         0.04250521],
        [0.07647777, 0.07568771, 0.07663578, ..., 0.07663578, 0.07663578,
         0.07631976],
        [0.20588954, 0.20525749, 0.20604755, ..., 0.20683761, 0.20636357,
         0.20588954]]),
 '__globals__': [],
 '__header__': b'MATLAB 5.0 MAT-file, Platform: PCWIN64, Created on: Fri Sep 27 15:04:49 2019',
 '__version__': '1.0'}

In [5]:
mdata = mat['ZZmeas_2']
# mdata tem formato array shape(208,20)
mdata

array([[0.20336134, 0.23891403, 0.2398621 , ..., 0.23954607, 0.23938806,
        0.24033613],
       [0.07774187, 0.08232421, 0.08279825, ..., 0.08311427, 0.08248222,
        0.08264024],
       [0.05119586, 0.05277598, 0.05293399, ..., 0.05325002, 0.05277598,
        0.05277598],
       ...,
       [0.04266322, 0.04218918, 0.04203117, ..., 0.0423472 , 0.04218918,
        0.04250521],
       [0.07647777, 0.07568771, 0.07663578, ..., 0.07663578, 0.07663578,
        0.07631976],
       [0.20588954, 0.20525749, 0.20604755, ..., 0.20683761, 0.20636357,
        0.20588954]])

In [6]:
df = pd.DataFrame(mdata)
# df é o DataFrame obtido shape(208,20)
df

           0         1         2   ...        17        18        19
0    0.203361  0.238914  0.239862  ...  0.239546  0.239388  0.240336
1    0.077742  0.082324  0.082798  ...  0.083114  0.082482  0.082640
2    0.051196  0.052776  0.052934  ...  0.053250  0.052776  0.052776
3    0.034763  0.035079  0.035237  ...  0.035079  0.035395  0.035553
4    0.029706  0.029548  0.029390  ...  0.029390  0.030180  0.029706
..        ...       ...       ...  ...       ...       ...       ...
203  0.069209  0.069051  0.068893  ...  0.069209  0.069051  0.069683
204  0.061467  0.060677  0.060677  ...  0.060993  0.061309  0.060993
205  0.042663  0.042189  0.042031  ...  0.042347  0.042189  0.042505
206  0.076478  0.075688  0.076636  ...  0.076636  0.076636  0.076320
207  0.205890  0.205257  0.206048  ...  0.206838  0.206364  0.205890

[208 rows x 20 columns]

In [7]:
type(df)

pandas.core.frame.DataFrame

# Análise do Dataframe
O shape do DataFrame é `(208,20)`, ou seja, são 208 medições de tensão, correspondente aos eletrodos.
O conjunto de medições adotado segue o protocolo de injeção entre eletrodos adjacentes. Segundo esta, o número de medições equivale a: 

$N_{total} = L.(L-3)$

Neste experimento, como são 16 eletrodos, $L = 16$, por isso o conjunto de medições foi igual a 208.

A tensão foi medida em 20 frequências diferentes (entre 5kHz e 100kHz), que correspondem às colunas. A cada frequência foram tomadas 208 medições.

In [8]:
# colocando nomes nas colunas 
df.columns = ['5kHz','10kHz','15kHz','20kHz','25kHz',
              '30kHz','35kHz','40kHz','45kHz','50kHz',
              '55kHz','60kHz','65kHz','70kHz','75kHz',
              '80kHz','85kHz','90kHz','95kHz','100kHz']
df

         5kHz     10kHz     15kHz  ...     90kHz     95kHz    100kHz
0    0.203361  0.238914  0.239862  ...  0.239546  0.239388  0.240336
1    0.077742  0.082324  0.082798  ...  0.083114  0.082482  0.082640
2    0.051196  0.052776  0.052934  ...  0.053250  0.052776  0.052776
3    0.034763  0.035079  0.035237  ...  0.035079  0.035395  0.035553
4    0.029706  0.029548  0.029390  ...  0.029390  0.030180  0.029706
..        ...       ...       ...  ...       ...       ...       ...
203  0.069209  0.069051  0.068893  ...  0.069209  0.069051  0.069683
204  0.061467  0.060677  0.060677  ...  0.060993  0.061309  0.060993
205  0.042663  0.042189  0.042031  ...  0.042347  0.042189  0.042505
206  0.076478  0.075688  0.076636  ...  0.076636  0.076636  0.076320
207  0.205890  0.205257  0.206048  ...  0.206838  0.206364  0.205890

[208 rows x 20 columns]

In [10]:
type(df["5kHz"])

pandas.core.series.Series

In [11]:
df.shape

(208, 20)

In [12]:
df.dtypes

5kHz      float64
10kHz     float64
15kHz     float64
20kHz     float64
25kHz     float64
30kHz     float64
35kHz     float64
40kHz     float64
45kHz     float64
50kHz     float64
55kHz     float64
60kHz     float64
65kHz     float64
70kHz     float64
75kHz     float64
80kHz     float64
85kHz     float64
90kHz     float64
95kHz     float64
100kHz    float64
dtype: object

In [13]:
df.columns

Index(['5kHz', '10kHz', '15kHz', '20kHz', '25kHz', '30kHz', '35kHz', '40kHz',
       '45kHz', '50kHz', '55kHz', '60kHz', '65kHz', '70kHz', '75kHz', '80kHz',
       '85kHz', '90kHz', '95kHz', '100kHz'],
      dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   5kHz    208 non-null    float64
 1   10kHz   208 non-null    float64
 2   15kHz   208 non-null    float64
 3   20kHz   208 non-null    float64
 4   25kHz   208 non-null    float64
 5   30kHz   208 non-null    float64
 6   35kHz   208 non-null    float64
 7   40kHz   208 non-null    float64
 8   45kHz   208 non-null    float64
 9   50kHz   208 non-null    float64
 10  55kHz   208 non-null    float64
 11  60kHz   208 non-null    float64
 12  65kHz   208 non-null    float64
 13  70kHz   208 non-null    float64
 14  75kHz   208 non-null    float64
 15  80kHz   208 non-null    float64
 16  85kHz   208 non-null    float64
 17  90kHz   208 non-null    float64
 18  95kHz   208 non-null    float64
 19  100kHz  208 non-null    float64
dtypes: float64(20)
memory usage: 32.6 KB