<a href="https://colab.research.google.com/github/adrianadamata/Data_Science_DataFrame_from_mat/blob/master/DataFrame_from_extension_mat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Construção de DataFrame a partir de arquivo em extensão `.mat`

O arquivo `.mat` carregado neste notebook faz parte de experimento realizado em Tomógrafo por Impedância Elétrica, com os dados de tensão de 16 eletrodos.

In [ ]:
from scipy.io import loadmat
import pandas as pd

In [ ]:
# para carregar arquivo .mat é necessário fazer o upload do arquivo dentro do notebook, no terceiro ícone da barra lateral esquerda "Files"
mat = loadmat('real-Teste33.mat')
# mat tem formato de dict
mat

{'ZZmeas_2': array([[0.20336134, 0.23891403, 0.2398621 , ..., 0.23954607, 0.23938806,
         0.24033613],
        [0.07774187, 0.08232421, 0.08279825, ..., 0.08311427, 0.08248222,
         0.08264024],
        [0.05119586, 0.05277598, 0.05293399, ..., 0.05325002, 0.05277598,
         0.05277598],
        ...,
        [0.04266322, 0.04218918, 0.04203117, ..., 0.0423472 , 0.04218918,
         0.04250521],
        [0.07647777, 0.07568771, 0.07663578, ..., 0.07663578, 0.07663578,
         0.07631976],
        [0.20588954, 0.20525749, 0.20604755, ..., 0.20683761, 0.20636357,
         0.20588954]]),
 '__globals__': [],
 '__header__': b'MATLAB 5.0 MAT-file, Platform: PCWIN64, Created on: Fri Sep 27 15:04:49 2019',
 '__version__': '1.0'}

In [ ]:
mdata = mat['ZZmeas_2']
# mdata tem formato array shape(208,20)
mdata

array([[0.20336134, 0.23891403, 0.2398621 , ..., 0.23954607, 0.23938806,
        0.24033613],
       [0.07774187, 0.08232421, 0.08279825, ..., 0.08311427, 0.08248222,
        0.08264024],
       [0.05119586, 0.05277598, 0.05293399, ..., 0.05325002, 0.05277598,
        0.05277598],
       ...,
       [0.04266322, 0.04218918, 0.04203117, ..., 0.0423472 , 0.04218918,
        0.04250521],
       [0.07647777, 0.07568771, 0.07663578, ..., 0.07663578, 0.07663578,
        0.07631976],
       [0.20588954, 0.20525749, 0.20604755, ..., 0.20683761, 0.20636357,
        0.20588954]])

In [ ]:
df = pd.DataFrame(mdata)
# df é o DataFrame obtido shape(208,20)
df

           0         1         2   ...        17        18        19
0    0.203361  0.238914  0.239862  ...  0.239546  0.239388  0.240336
1    0.077742  0.082324  0.082798  ...  0.083114  0.082482  0.082640
2    0.051196  0.052776  0.052934  ...  0.053250  0.052776  0.052776
3    0.034763  0.035079  0.035237  ...  0.035079  0.035395  0.035553
4    0.029706  0.029548  0.029390  ...  0.029390  0.030180  0.029706
..        ...       ...       ...  ...       ...       ...       ...
203  0.069209  0.069051  0.068893  ...  0.069209  0.069051  0.069683
204  0.061467  0.060677  0.060677  ...  0.060993  0.061309  0.060993
205  0.042663  0.042189  0.042031  ...  0.042347  0.042189  0.042505
206  0.076478  0.075688  0.076636  ...  0.076636  0.076636  0.076320
207  0.205890  0.205257  0.206048  ...  0.206838  0.206364  0.205890

[208 rows x 20 columns]

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
# colocando nomes nas colunas 
df.columns = ['Eletrodo_1','Eletrodo_2','Eletrodo_3','Eletrodo_4','Eletrodo_5',
              'Eletrodo_6','Eletrodo_7','Eletrodo_8','Eletrodo_9','Eletrodo_10',
              'Eletrodo_11','Eletrodo_12','Eletrodo_13','Eletrodo_14','Eletrodo_15',
              'Eletrodo_16','Eletrodo_17','Eletrodo_18','Eletrodo_19','Eletrodo_20']
df

     Eletrodo_1  Eletrodo_2  Eletrodo_3  ...  Eletrodo_18  Eletrodo_19  Eletrodo_20
0      0.203361    0.238914    0.239862  ...     0.239546     0.239388     0.240336
1      0.077742    0.082324    0.082798  ...     0.083114     0.082482     0.082640
2      0.051196    0.052776    0.052934  ...     0.053250     0.052776     0.052776
3      0.034763    0.035079    0.035237  ...     0.035079     0.035395     0.035553
4      0.029706    0.029548    0.029390  ...     0.029390     0.030180     0.029706
..          ...         ...         ...  ...          ...          ...          ...
203    0.069209    0.069051    0.068893  ...     0.069209     0.069051     0.069683
204    0.061467    0.060677    0.060677  ...     0.060993     0.061309     0.060993
205    0.042663    0.042189    0.042031  ...     0.042347     0.042189     0.042505
206    0.076478    0.075688    0.076636  ...     0.076636     0.076636     0.076320
207    0.205890    0.205257    0.206048  ...     0.206838     0.206364     0.205890

[208 rows x 20 columns]

In [ ]:
type(df["Eletrodo_1"])

pandas.core.series.Series

In [ ]:
df.shape

(208, 20)

In [ ]:
df.dtypes

Eletrodo_1     float64
Eletrodo_2     float64
Eletrodo_3     float64
Eletrodo_4     float64
Eletrodo_5     float64
Eletrodo_6     float64
Eletrodo_7     float64
Eletrodo_8     float64
Eletrodo_9     float64
Eletrodo_10    float64
Eletrodo_11    float64
Eletrodo_12    float64
Eletrodo_13    float64
Eletrodo_14    float64
Eletrodo_15    float64
Eletrodo_16    float64
Eletrodo_17    float64
Eletrodo_18    float64
Eletrodo_19    float64
Eletrodo_20    float64
dtype: object

In [ ]:
df.columns

Index(['Eletrodo_1', 'Eletrodo_2', 'Eletrodo_3', 'Eletrodo_4', 'Eletrodo_5',
       'Eletrodo_6', 'Eletrodo_7', 'Eletrodo_8', 'Eletrodo_9', 'Eletrodo_10',
       'Eletrodo_11', 'Eletrodo_12', 'Eletrodo_13', 'Eletrodo_14',
       'Eletrodo_15', 'Eletrodo_16', 'Eletrodo_17', 'Eletrodo_18',
       'Eletrodo_19', 'Eletrodo_20'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Eletrodo_1   208 non-null    float64
 1   Eletrodo_2   208 non-null    float64
 2   Eletrodo_3   208 non-null    float64
 3   Eletrodo_4   208 non-null    float64
 4   Eletrodo_5   208 non-null    float64
 5   Eletrodo_6   208 non-null    float64
 6   Eletrodo_7   208 non-null    float64
 7   Eletrodo_8   208 non-null    float64
 8   Eletrodo_9   208 non-null    float64
 9   Eletrodo_10  208 non-null    float64
 10  Eletrodo_11  208 non-null    float64
 11  Eletrodo_12  208 non-null    float64
 12  Eletrodo_13  208 non-null    float64
 13  Eletrodo_14  208 non-null    float64
 14  Eletrodo_15  208 non-null    float64
 15  Eletrodo_16  208 non-null    float64
 16  Eletrodo_17  208 non-null    float64
 17  Eletrodo_18  208 non-null    float64
 18  Eletrodo_19  208 non-null    float64
 19  Eletrodo_20  208 non-null    float64
dtypes: float64(20)
memory usage: 32.6 KB